@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply text-primary bg-body;
  }
  p{
    @apply text-secondary;
  }
  .h1{
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
  }
  .h2{
    @apply text-4xl mb-6 font-bold;
  }
  .h3{
    @apply text-xl mb-4 font-semibold;
  }
  .description{
    @apply text-base xl:text-xl xl:leading-8;
  }
  .section{
    @apply w-full h-screen pt-[60px] xl:pt-[70px];
  }
  .btn{
    @apply rounded-[180px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
  }
  .btn-gr{
    @apply h-10;
  }
  .btn-sm{
    @apply h-14;
  }
  .btn-lg{
    @apply h-16;
  }
  .btn-cta{
    @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300 text-yellow;
  }
  .btn-yellow{
    @apply bg-yellow h-[54px] rounded-[5px] px-4 transition-all duration-300 text-primary;
  }
  .btn-primary{
    @apply bg-primary hover:bg-primary-hover;
  }
  .btn-yellow{
    @apply bg-yellow hover:bg-yellow-hover;
  }
  .btn-secondary{
    @apply bg-secondary;
  }
  .btn-accent{
    @apply bg-accent hover:bg-accent-hover;
  }
  .active{
    @apply text-accent;
  }

/* filter */
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  /* border: 1px solid #000; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.type {
  color: #64748b;
  font-size: 10px;
}
/* filter end */
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* flip card price */

.flip-card {
  perspective: 1000px;
}

.flip-card-inner{
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back{
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


}